# Ignore build artifacts
build/
dist/
*.egg-info/
__pycache__/

# macOS files
.DS_Store

# Python cache
*.pyc
*.pyo

# Virtual environments
venv/

# Project-specific files
offlineyoutube/offlineYoutubeFiles/

